/*
Small mobile Device 0 - 500px
Mobile Device 0 - 600px
Tablet 600 - 900
Tablet landscape - 900 - 1200px
Desktop - 1200 x 1800px
Large display 1800+

$screenSize
smallPhone5
phone6
tabletPort7
tabletPort8
tabletPort9
tabletLand1
tabletLand2
tabletLand3
desktop 1800+
lgdesktop
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
  box-sizing: border-box;
  font-size: 2rem; }

@keyframes animate-front {
  0% {
    opacity: 0;
    transform: translateY(-15rem); }
  50% {
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes animate-small {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  50% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.primary-heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }
  .primary-heading--front {
    display: block;
    font-size: 8rem;
    font-weight: 100;
    letter-spacing: 3rem;
    position: relative;
    animation: animate-front;
    animation-duration: 1s; }
    @media (max-width: 37.5em) {
      .primary-heading--front {
        letter-spacing: 1.5rem;
        font-size: 7rem;
        padding-top: 1.2rem; } }
  .primary-heading--small {
    display: block;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: animate-small 2s;
    animation-duration: 1s;
    animation-delay: 2s;
    text-align: center; }
    @media (max-width: 37.5em) {
      .primary-heading--small {
        letter-spacing: 0.4rem;
        font-size: 1.8rem;
        padding-left: 1rem; } }
  .primary-heading--sup {
    font-size: 2rem;
    text-transform: lowercase;
    position: absolute;
    top: 20%;
    left: -6%;
    letter-spacing: 0rem;
    font-weight: 700; }
    @media (max-width: 37.5em) {
      .primary-heading--sup {
        font-weight: 400; } }

.section-main {
  background-color: #fff; }

.container-fluid {
  margin-right: 1rem !important;
  margin-left: 1rem !important; }
  @media (max-width: 37.5em) {
    .container-fluid {
      margin-left: 0rem !important;
      margin-right: 0rem !important; } }

.main-menu {
  height: 7rem;
  position: absolute;
  margin-bottom: 2rem;
  width: 100%;
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.6);
  color: #fff; }
  .main-menu__logo-container {
    width: 17rem;
    height: 9rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom-left-radius: 9.9rem;
    border-bottom-right-radius: 9.9rem;
    position: absolute;
    top: 7rem;
    left: 5rem; }
  .main-menu__menu-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5rem;
    margin-top: -1rem; }
  .main-menu__logo--hidden {
    display: none;
    height: 5rem;
    margin-top: 1rem; }
  .main-menu .menu {
    float: right;
    margin-right: 4rem;
    margin-top: 0rem; }
  .main-menu .menu ul {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    margin-top: 1rem; }
  .main-menu .menu ul ul {
    display: none; }
  .main-menu .menu a {
    display: block;
    padding: 1.5rem;
    color: #fff;
    text-decoration: none;
    border-left: 1px solid #999;
    border-bottom: 2px solid #999; }
    .main-menu .menu a:not(:last-child) {
      border-right: 1px solid #999; }
  .main-menu .menu a:hover, .main-menu .menu a:active {
    color: #eb1f27;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom: 2px solid #eb1f27; }
  .main-menu .active-menu {
    color: #fff;
    background-color: rgba(235, 31, 39, 0.6); }
  .main-menu .menu ul li:hover ul {
    display: block;
    margin-top: 0rem;
    width: 100%;
    background-color: rgba(204, 204, 204, 0.6);
    font-size: 1.8rem; }
  .main-menu .hidden {
    display: none; }
  .main-menu .bars, .main-menu .times {
    display: none; }
  @media (max-width: 43.75em) {
    .main-menu {
      background-color: rgba(255, 255, 255, 0.9); }
      .main-menu__logo-container {
        display: none; }
      .main-menu__logo--hidden {
        display: block; }
      .main-menu .bars {
        display: block;
        margin-top: -5rem; }
      .main-menu .icon-menu {
        float: right;
        margin-top: 1rem;
        margin-right: 2rem;
        font-size: 3.5rem;
        cursor: pointer;
        color: #000; }
        .main-menu .icon-menu:hover {
          text-shadow: 0 1rem 2rem rgba(235, 31, 39, 0.8); }
      .main-menu .menu {
        position: absolute;
        top: 5rem;
        width: 100%;
        left: 0;
        background-color: #ccc;
        transform: translateX(-100%);
        transform: all .5s ease-out; }
      .main-menu .menu ul {
        display: block; }
      .main-menu .menu ul li:hover ul {
        display: none; }
      .main-menu #btn-menu:checked ~ .menu {
        transform: translateX(0%); }
      .main-menu #btn-menu:checked ~ .icon-menu .bars {
        display: none; }
      .main-menu #btn-menu:checked ~ .icon-menu .times {
        display: block;
        margin-top: -5rem; } }

.search-box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 75%;
  border-radius: 12px;
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.4);
  min-height: 20rem; }
  @media (max-width: 37.5em) {
    .search-box {
      top: 10%;
      min-height: 40rem;
      width: 100%; } }
  .search-box__input {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.8rem;
    height: 5rem;
    padding: 1rem 2rem;
    margin-top: 4rem;
    color: #007bb5;
    float: left;
    border: none;
    border-right: 1px solid #007bb5;
    width: 50%; }
    @media (max-width: 37.5em) {
      .search-box__input {
        margin-top: 8rem;
        width: 100%;
        height: 6rem; } }
  .search-box__input--right {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.8rem;
    height: 5rem;
    padding: 1rem 2rem;
    margin-top: 4rem;
    color: #007bb5;
    float: right;
    border: none;
    border-right: 1px solid #007bb5;
    width: 50%; }
    @media (max-width: 37.5em) {
      .search-box__input--right {
        margin-top: 2rem;
        width: 100%;
        height: 6rem;
        top: 75%; } }
  .search-box__btn {
    background-color: inherit;
    position: absolute;
    height: 2rem;
    top: 5rem;
    border: none;
    right: 1rem;
    cursor: pointer; }
    @media (max-width: 37.5em) {
      .search-box__btn {
        width: 100%;
        height: 7rem;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ff6666; } }
    .search-box__btn--icon {
      font-size: 3rem;
      color: #007bb5; }
    .search-box__btn--icon:hover {
      color: #5643fa; }

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to left bottom, rgba(255, 153, 153, 0.5), rgba(255, 102, 102, 0.5)), url("../../img/moomin.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%); }
  .header__title-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 37.5em) {
      .header__title-box {
        top: 20%; } }
