.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left bottom, rgba($primary-color-light, 0.3), rgba($primary-color-dark, 0.3)), url('../../img/moomin.jpg');
    background-size: cover;
    background-position: top;
    //background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}